//
//  SingleTarget.xcconfig
//  Semver
//
//  Created by 邓翔 on 2017/5/2.
//  Copyright © 2017年 ddddxxx. All rights reserved.
//

SUPPORTED_PLATFORMS = iphoneos iphonesimulator appletvsimulator appletvos macosx watchsimulator watchos

IPHONEOS_DEPLOYMENT_TARGET = 8.0

ONLY_ACTIVE_ARCH[config=Debug] = YES

VALID_ARCHS[sdk=macosx*]    = x86_64
VALID_ARCHS[sdk=iphone*]    = arm64 armv7 armv7s

IPHONEOS_DEPLOYMENT_TARGET[sdk=iphone*] = 8.0

TARGETED_DEVICE_FAMILY[sdk=iphone*]     = 1,2
TARGETED_DEVICE_FAMILY[sdk=appletv*]    = 3
TARGETED_DEVICE_FAMILY[sdk=watch*]      = 4

// Base
DEAD_CODE_STRIPPING = NO
DEFINES_MODULE = YES
GCC_DYNAMIC_NO_PIC = NO
PRODUCT_NAME = $(PROJECT_NAME)
INSTALL_PATH = @rpath
LD_DYLIB_INSTALL_NAME = @rpath/$(PRODUCT_NAME).$(WRAPPER_EXTENSION)/$(PRODUCT_NAME)
SKIP_INSTALL = YES
APPLICATION_EXTENSION_API_ONLY = YES

// LD_RUNPATH_SEARCH_PATHS
LD_RUNPATH_SEARCH_PATHS[sdk=iphone*]    = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]    = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=watch*]     = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*]   = $(inherited) @executable_path/Frameworks @loader_path/Frameworks


// Others (Platform)
HEADER_SEARCH_PATHS[sdk=iphone*]    = $(OBJROOT)/UninstalledProducts/include
CODE_SIGN_IDENTITY[sdk=iphone*]     = iPhone Developer
COMBINE_HIDPI_IMAGES[sdk=macosx*]   = YES
